repos:

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
      - id: reorder-python-imports

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        args: ["--ignore=E501,W503", "--max-line-length=119"]
        additional_dependencies:
          - flake8-bugbear==21.11.29
          - flake8-builtins==1.5.3
          - pep8-naming==0.12.1
          - flake8-variables-names==0.0.4
          - flake8-commas==2.1.0
          - flake8-mock==0.3
          - flake8-printf-formatting==1.1.2
          - flake8-use-fstring==1.3
          - flake8-pytest-style==1.5.1
          - flake8-simplify==0.14.2
          - flake8-walrus==1.1.0
          - flake8-annotations==2.7.0

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length=119"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]

  - repo: https://github.com/hcodes/yaspeller.git
    rev: v8.0.1
    hooks:
      - id: yaspeller
