cirq
dwave-system
dwavebinarycsp
jupyter-book
matplotlib
networkx
numpy
paramiko
penaltymodel-maxgap
PennyLane
pylatexenc
pyppeteer
pyyaml
qiskit
scikit-learn
scp
sympy
netket
sphinx-sitemap
sphinx-jupyterbook-latex
tensorflow
tensorflow-quantum
Jinja2
