<!DOCTYPE html>
<html>
  <head>
    <title>Branches</title>
  </head>
  <header>
    <h1>Available branches</h1>
  </header>
  <body>
    <ul>
      {% for branch in branches %}
        <li><a href="/{{ branch }}/_build/html/index.html">{{ branch }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
