<!DOCTYPE html>
<html>
  <head>
    <title>Branches</title>
  </head>
  <header>
    <h1>Available branches</h1>
  </header>
  <body>
    <ul>
      {% for branch in branches %}
        <li> {{branch }}
          <ul>
            <li><a href="/{{ branch }}/qmlcourseRU/_build/html/index.html">RU</a></li>
            <li><a href="/{{ branch }}/qmlcourseEN/_build/html/index.html">EN</a></li>
          </ul>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
