name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
      - master

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Install dependencies
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Set up poetry
        uses: Gr1N/setup-poetry@v4

      - name: Install dependencies
        run: |
          poetry install
      # Build the book
      - name: Build the book
        run: |
          poetry run jupyter-book build ./qmlourseRU
      # Push the book's HTML to github-pages
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.5.9
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./qmlcourseRU/_build/html
